<div class="board">
    <div class="board-bar">
        <div class="board-column-components"
            cdkDropList
            [cdkDropListData]="dataservice.components"
            #componentsList="cdkDropList"
            (cdkDropListDropped)="drop($event)"
            [cdkDropListEnterPredicate]="noReturnPredicate">
            <div class="tasks-container">
                <p class="board-name">{{workspaceTitle}}</p>
                
                <ul class="menu">
                    <li class="menu-item" (click)="dataservice.toggleNewFormModal()"><a class="color-1" href="#">New</a></li>
                    <li class="menu-item" (click)="dataservice.toggleOpenFormModal()"><a href="#">Open</a></li>
                    <li class="menu-item" (click)="saveForm()" *ngIf="workspaceTitle !== 'FlowCatalyst'"><a href="#">Save</a></li>
                    <li class="menu-item" (click)="dataservice.toggleExportFormModal()" *ngIf="workspaceTitle !== 'FlowCatalyst'"><a href="#">Export</a></li>
                    <li class="menu-item has-submenu" *ngIf="workspaceTitle !== 'FlowCatalyst'"> Misc
                        <ul class="sub-menu">
                            <li class="sub-menu-item"><a href="#">Preview</a></li>
                            <li class="sub-menu-item" (click)="dataservice.toggleSettingsModal()"><a href="#">Settings</a></li>
                            <li class="sub-menu-item" (click)="closeForm()"><a href="#">Close Form</a></li>
                            <hr>
                            <li class="sub-menu-item" (click)="dataservice.toggleDeleteFormModal()"><a class="text-danger" href="#">Delete Form</a></li>
                        </ul>
                    </li>
                </ul>

                <div class="task" *ngFor="let item of dataservice.components" cdkDrag>
                    {{item.title}}
                </div>
                <p class="last-saved" *ngIf="lastSavedVisible">{{lastSaved}}</p>
            </div>
        </div>
    </div>
</div>
    <div class="modal" [ngClass]="{ 'is-active' : isOpenModalActive }">
            <div class="modal-background" (click)="toggleOpenFormModal()"></div>
            <div class="modal-card">
              <header class="modal-card-head">
                <p class="modal-card-title">Open Form</p>
                <button class="delete" aria-label="close" (click)="toggleOpenFormModal()"></button>
              </header>
              <section class="modal-card-body">
                <div class="form-group">
                  <label for="formTitle">Select Form</label>
                  <select class="form-control" name="my-dropdown" [(ngModel)]="openFormDropdown">
                      <option selected disabled>Select a form</option>
                      <option *ngFor="let selectFormTitle of selectFormTitles" [ngValue]="selectFormTitle.id">{{selectFormTitle.title}}</option>
                  </select>
                </div>
                <hr>
                Open from a file (.XML or .JSON)
                  <div class="file has-name is-fullwidth">
                    <label class="file-label">
                      <input class="file-input" type="file" name="resume">
                      <span class="file-cta">
                        <span class="file-icon">
                          <i class="fas fa-upload"></i>
                        </span>
                        <span class="file-label">
                          Choose a file…
                        </span>
                      </span>
                      <span class="file-name">
                        
                      </span>
                    </label>
                  </div>
              </section>
              <footer class="modal-card-foot">
                <button class="button is-color-1" (click)="openForm()">Open Form</button>
                <button class="button" (click)="toggleOpenFormModal()">Cancel</button>
              </footer>
            </div>
            </div>
            <div class="modal" [ngClass]="{ 'is-active' : isExportModalActive }">
              <div class="modal-background" (click)="toggleExportFormModal()"></div>
              <div class="modal-card">
                <header class="modal-card-head">
                  <p class="modal-card-title">Export Form</p>
                  <button class="delete" aria-label="close" (click)="toggleExportFormModal()"></button>
                </header>
                <section class="modal-card-body">
                  Export format
                  <select class="form-control" [(ngModel)]="exportFormat">
                    <option value="json">JSON File</option>
                    <option value="xml">XML Document</option>
                  </select>
                </section>
                <footer class="modal-card-foot">
                  <button class="button is-color-1" (click)="exportForm()">Export Form</button>
                  <button class="button" (click)="toggleExportFormModal()">Cancel</button>
                </footer>
              </div>
              </div>
              
    
