<div class="root" >
<div class="board" cdkDropListGroup>
    <app-tool-bar></app-tool-bar>
      <div class="locker" *ngIf="dataservice.lockerVisible">
          Start by either creating a new form or opening an older one.<br>
          <button class="button is-color-1" (click)="dataservice.toggleNewFormModal()">New Form</button>&nbsp;
          <button class="button is-info" (click)="dataservice.toggleOpenFormModal()">Open Form</button>
      </div>
    
      <app-hierarchy></app-hierarchy>
      <app-properties-window></app-properties-window>
      <app-form-board></app-form-board>       
        
         
      <div class="board-wrapper" >
         
          <div class="board-columns">
          </div>
      </div>
  </div>
</div>
<div class="modal" [ngClass]="{ 'is-active' : dataservice.isOpenModalActive }">
    <div class="modal-background" (click)="dataservice.toggleOpenFormModal()"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Open Form</p>
        <button class="delete" aria-label="close" (click)="dataservice.toggleOpenFormModal()"></button>
      </header>
      <section class="modal-card-body">
        <div class="form-group">
          <label for="formTitle">Select Form</label>
          <select class="form-control" name="my-dropdown" [(ngModel)]="dataservice.openFormDropdown">
              <option selected disabled>Select a form</option>
              <option *ngFor="let selectFormTitle of dataservice.selectFormTitles" [ngValue]="selectFormTitle.id">{{selectFormTitle.title}}</option>
          </select>
        </div>
        <hr>
        Open from a file (.XML or .JSON)
          <div class="file has-name is-fullwidth">
            <label class="file-label">
              <input class="file-input" type="file" name="resume">
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Choose a file…
                </span>
              </span>
              <span class="file-name">
                
              </span>
            </label>
          </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-color-1" (click)="formDataService.openForm()">Open Form</button>
        <button class="button" (click)="dataservice.toggleOpenFormModal()">Cancel</button>
      </footer>
    </div>
  </div>

<div class="modal" [ngClass]="{ 'is-active' : dataservice.isNewModalActive }">
<div class="modal-background" (click)="dataservice.toggleNewFormModal()"></div>
<div class="modal-card">
  <header class="modal-card-head">
    <p class="modal-card-title">New Form</p>
    <button class="delete" aria-label="close" (click)="dataservice.toggleNewFormModal()"></button>
  </header>
  <section class="modal-card-body">
    <div class="form-group">
      <label for="formTitle">Form Title/Customer</label>
      <div class="input-group">
        <input id="formTitle" class="form-control" placeholder="Title/Customer" name="formTitle" [(ngModel)]="dataservice.formTitle">
      </div>
    </div>
  </section>
  <footer class="modal-card-foot">
    <button class="button is-color-1" (click)="formDataService.createForm()">Create Form</button>
    <button class="button" (click)="dataservice.toggleNewFormModal()">Cancel</button>
  </footer>
</div>
</div>



<div class="modal" [ngClass]="{ 'is-active' : dataservice.isExportModalActive }">
<div class="modal-background" (click)="dataservice.toggleExportFormModal()"></div>
<div class="modal-card">
  <header class="modal-card-head">
    <p class="modal-card-title">Export Form</p>
    <button class="delete" aria-label="close" (click)="dataservice.toggleExportFormModal()"></button>
  </header>
  <section class="modal-card-body">
    Export format
    <select class="form-control" [(ngModel)]="dataservice.exportFormat">
      <option value="json">JSON File</option>
      <option value="xml">XML Document</option>
    </select>
  </section>
  <footer class="modal-card-foot">
    <button class="button is-color-1" (click)="formDataService.exportForm()">Export Form</button>
    <button class="button" (click)="dataservice.toggleExportFormModal()">Cancel</button>
  </footer>
</div>
</div>

<div class="modal" [ngClass]="{ 'is-active' : dataservice.isSettingsModalActive }">
<div class="modal-background" (click)="dataservice.toggleSettingsModal()"></div>
<div class="modal-card">
  <header class="modal-card-head">
    <p class="modal-card-title">Settings</p>
    <button class="delete" aria-label="close" (click)="dataservice.toggleSettingsModal()"></button>
  </header>
  <section class="modal-card-body">
     <div class="form-group">
      <label for="autoSave">Autosave Settings</label>
      <div class="input-group">
        Autosave: <input id="autoSave" type="checkbox" class="form-control checkbox-form" name="autoSave" [(ngModel)]="dataservice.autoSave">
      </div>
      <div class="input-group">
        <input id="autoSaveIntervalDraft" type="number" class="form-control" placeholder="How often should it save? (seconds)" name="autoSaveIntervalDraft" [(ngModel)]="dataservice.autoSaveIntervalDraft" value="30">
      </div>
    </div>
  </section>
  <footer class="modal-card-foot">
    <button class="button is-color-1" (click)="dataservice.saveSettings()">Save Settings</button>
    <button class="button" (click)="dataservice.toggleSettingsModal()">Cancel</button>
  </footer>
</div>
</div>


<div class="modal" [ngClass]="{ 'is-active' : dataservice.isDeleteFormModalActive }">
<div class="modal-background" (click)="dataservice.toggleDeleteFormModal()"></div>
<div class="modal-card">
  <header class="modal-card-head">
    <p class="modal-card-title">Delete Form <span class="modal-span">"{{workspaceTitle}}"</span></p>
    <button class="delete" aria-label="close" (click)="dataservice.toggleDeleteFormModal()"></button>
  </header>
  <section class="modal-card-body">
    Are you sure you wish to delete <b><i>{{workspaceTitle}}</i></b>? You won't be able to access it again.
  </section>
  <footer class="modal-card-foot">
    <button class="button is-danger" (click)="formDataService.deleteActiveForm()">Delete Form</button>
    <button class="button" (click)="dataservice.closeDeleteFormModal()">Cancel</button>
  </footer>
</div>
</div>
<div class="modal" [ngClass]="{ 'is-active' : dataservice.isConfigureModalActive }">
    <div class="modal-background" (click)="dataservice.toggleConfigureModal()"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">{{dataservice.componentTitle}}</p>
        <button class="delete" aria-label="close" (click)="dataservice.toggleConfigureModal()"></button>
      </header>
      <section class="modal-card-body">
        <div class="form-group">
          <label for="formTitle">Add new elements</label>
          <div class="input-group">
            <!--<input id="formTitle" class="form-control" placeholder="Title/Customer" name="formTitle" [(ngModel)]="dataservice.formTitle">-->
            <button id ="add-element-button" (click)="formDataService.addNewElement(dataservice.component)">+</button>
          </div>
          <div id="properties" *ngFor="let item of dataservice.comboboxComponents">
            <input id="{{item.id}}" class="form-control childElement-input" placeholder="Combobox Title" type="text" value="{{item.prompt}}">
            <img src="../../../assets/trash.svg"  height="16px" width="16px" alt="trashcan" (click)="formDataService.deleteChildElement(item.id)">

          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-color-1" (click)="formDataService.saveElements()">Save settings</button>
        <button class="button" (click)="dataservice.toggleConfigureModal()">Cancel</button>
      </footer>
    </div>
    </div>
