<div class="root" >
    <div class="board" cdkDropListGroup>
        <div class="board-bar">
            <div class="board-column-components"
                cdkDropList
                [cdkDropListData]="components"
                #componentsList="cdkDropList"
                [cdkDropListEnterPredicate]="noReturnPredicate"
                (cdkDropListDropped)="drop($event)">
                <div class="tasks-container">
                    <p class="board-name">FlowCatalyst</p>
                    
                    <ul class="menu">
                        <li class="menu-item"><a class="color-1" href="#">New</a></li>
                        <li class="menu-item"><a href="#">Open</a></li>
                        <li class="menu-item"><a href="#">Save</a></li>
                        <li class="menu-item"><a href="#">Export</a></li>
                        <li class="menu-item"><a href="#">Preview</a></li>
                    </ul>

                    <div class="task" *ngFor="let item of components" cdkDrag>
                        {{item.title}}
                    </div>
                    <p class="last-saved">Saved. (Today 15:31)</p>
                </div>
            </div>
        </div>
        <div class="board-wrapper" >
            <div class="board-columns">
                <div class="board-column-hierarchy"
                    cdkDropList
                    #todoList="cdkDropList"
                    [cdkDropListData]="todo"
                    (cdkDropListDropped)="drop($event)"
                    >
                    <div class="column-title hierarchy-title">
                            Hierarchy
                    </div>
                    <div class="hierarchy-container">
                        <ul>
                            <li><span class="caret">Radiobutton</span>
                                <ul class="nested">
                                    <li>Sub item</li>
                                </ul>
                            </li>
                        </ul>
                        <!-- &#x25b6; Item 1 -->
                    </div>
                </div>
                <div class="board-column-main"
                    cdkDropList
                    [cdkDropListData]="board"
                    #doneList="cdkDropList"
                    (cdkDropListDropped)="drop($event)">
                    <div class="column-title">
                            {{boardMain}}
                    </div>
                    <div class="items-container">
                            <div class="tasks-container">
                                    <div class="task" *ngFor="let item of board" (click)="loadData(item.id)" cdkDrag>
                                        <div class="item-left">(0)</div>
                                        <div *ngIf="!item.editing; else editingItem" class="item-label"
                                        (dblclick)="editItem(item)" >
                                                <div *ngIf="!item.prompt; else showTitle">{{item.title}}</div>
                                                <ng-template #showTitle>{{item.prompt}}</ng-template>
                                        </div>
                                        <ng-template #editingItem>
                                            
                                                    <input type="text" name="item" class="item-edit" [(ngModel)]="itemPrompt" placeholder="{{item.title}} (keyup.enter)="addItem()">
                                            
                                        </ng-template>
                                        <div class="item-right" (click)="deleteItem(item.id)">(X)</div>
                                    </div>
                                </div>
                    </div>
                    
                </div>
                <div class="board-column-properties"
                cdkDropList
                [cdkDropListData]="components"
                #componentsList="cdkDropList"
                [cdkDropListEnterPredicate]="noReturnPredicate"
                (cdkDropListDropped)="drop($event)">
                <div class="column-title property-title">
                        Properties
                </div>
                <div class="property-container">
                    <h4 class="property-selected-title">Text Field</h4>
                   
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
