<!--<app-properties-window [boardComponent]="component"></app-properties-window>-->
<div class="board-column-main"
                  cdkDropList
                  [cdkDropListData]="dataservice.board"
                  #doneList="cdkDropList"
                  
                  (cdkDropListDropped)="drop($event)">
<div class="container">
    <div class="row">
      <div class="col-md-12" *ngFor="let item of dataservice.board" cdkDrag>
        <div cdkDropList cdkDropListOrientation="horizontal" class="example-list">
                <div class="task" [ngClass]="{'color-bg-1': dataservice.id === item.id }" (click)="props.loadProperties(item.id, $event)" id="{{item.id}}" cdkDrag>
             
                        <div class="item-left"><p (click)="formDataService.openFieldData()">(0)</p>
                    
                        </div>
                        
                            <div *ngIf="!item.editing; else editingItem" class="item-label" >
                                    
                                <div *ngIf="!item.prompt; else showTitle">{{item.title}}
                                </div>
                                
                                    <ng-template #showTitle>
                                        {{item.prompt}}
                                    </ng-template>
                            </div>
          
                        <ng-template #editingItem>
                            <input type="text" name="item" class="item-edit" [(ngModel)]="itemPrompt" placeholder="{{item.title}} (keyup.enter)="addItem()">
                        </ng-template>
                      
                        <div class="item-right">
                            <img src="/assets/trash.svg" height="16px" width="16px" alt="trashcan" (click)="formDataService.deleteItem(item.id)">
                        </div>
                
          </div>
      </div>
      
    </div>
  </div>
  </div>